body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:65px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:173px;
  height:65px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:543px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:543px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:96px;
  color:#EBBC0D;
  text-align:center;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:135px;
  width:581px;
  height:256px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:96px;
  color:#EBBC0D;
  text-align:center;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  white-space:nowrap;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:65px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:173px;
  height:65px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:170px;
  background:inherit;
  background-color:rgba(59, 1, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1222px;
  width:1362px;
  height:170px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1272px;
  width:300px;
  height:60px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1244px;
  width:173px;
  height:28px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1272px;
  width:300px;
  height:80px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1244px;
  width:173px;
  height:28px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:1244px;
  width:173px;
  height:28px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:1286px;
  width:26px;
  height:22px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:1284px;
  width:26px;
  height:26px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:1284px;
  width:26px;
  height:26px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:182px;
  background:inherit;
  background-color:rgba(75, 183, 114, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:647px;
  width:587px;
  height:182px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:182px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:647px;
  width:576px;
  height:182px;
  font-size:16px;
  text-align:left;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:652px;
  width:560px;
  height:171px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:640px;
  top:643px;
}
#u692_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:667px;
  height:440px;
  background-image:none;
}
#u692_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:178px;
  width:26px;
  height:22px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:178px;
  width:26px;
  height:22px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:410px;
  width:26px;
  height:22px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:414px;
  width:26px;
  height:22px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:203px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:304px;
  height:203px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:305px;
  height:203px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:209px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:229px;
  width:304px;
  height:209px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:399px;
  width:304px;
  height:41px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:418px;
  width:81px;
  height:16px;
  color:#FFFFFF;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:162px;
  width:304px;
  height:41px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:181px;
  width:112px;
  height:16px;
  color:#FFFFFF;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:304px;
  height:41px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:412px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:162px;
  width:304px;
  height:41px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:181px;
  width:94px;
  height:16px;
  color:#FFFFFF;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:178px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:178px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:410px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:414px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:667px;
  height:440px;
  visibility:hidden;
  background-image:none;
}
#u692_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:178px;
  width:26px;
  height:22px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:178px;
  width:26px;
  height:22px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:410px;
  width:26px;
  height:22px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:414px;
  width:26px;
  height:22px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:203px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:304px;
  height:203px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:203px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:305px;
  height:203px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:209px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:229px;
  width:304px;
  height:209px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:399px;
  width:304px;
  height:41px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:418px;
  width:81px;
  height:16px;
  color:#FFFFFF;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:162px;
  width:304px;
  height:41px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:181px;
  width:86px;
  height:16px;
  color:#FFFFFF;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:304px;
  height:41px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:412px;
  width:77px;
  height:16px;
  color:#FFFFFF;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:162px;
  width:304px;
  height:41px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:181px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:178px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:178px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:410px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:414px;
  width:26px;
  height:22px;
  color:#FFFFFF;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:1123px;
  width:210px;
  height:45px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:33px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1129px;
  width:19px;
  height:33px;
  color:#999999;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:33px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:1129px;
  width:19px;
  height:33px;
  color:#999999;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:1123px;
  width:56px;
  height:45px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:1123px;
  width:56px;
  height:45px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:2px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1202px;
  width:714px;
  height:1px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:55px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:542px;
  width:1364px;
  height:55px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:52px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:544px;
  width:215px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u740_img.mouseOver {
}
#u740.mouseOver {
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:211px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:544px;
  width:162px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u741_img.mouseOver {
}
#u741.mouseOver {
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:544px;
  width:162px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u742_img.mouseOver {
}
#u742.mouseOver {
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:544px;
  width:162px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u743_img.mouseOver {
}
#u743.mouseOver {
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:544px;
  width:162px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u744_img.mouseOver {
}
#u744.mouseOver {
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:544px;
  width:162px;
  height:52px;
  font-family:'Segoe UI Negrito', 'Segoe UI Normal', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u745_img.mouseOver {
}
#u745.mouseOver {
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
